@import "variables";

.dglCanvasContainer
{
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;
	//background-color: #91bbc5;
	background: linear-gradient(to bottom, #7db9e8 0%, #91bbc5 100%);
}
.dglTutoContainer
{
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $boardColor;
	h2, h3
	{
		font-family: 'fontFamTitles';
		text-align: center;
	}
	.dglLaunchGameButton
	{
		position: static;
	}
	p
	{
		font-family: 'fontFamMain';
	}
	.dglTutoBikeImg
	{
		position: absolute;
		left: 85px;
		top: 27px;
		width: 100px;
		height: 100px;
		background: center/contain no-repeat url("../img/bike01.svg");
		animation: animateBike .3s infinite linear;
	}
}
.dglUIContainer
{
	position: fixed;
	width: 100vw;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	.dglCOMetterContainer
	{
		border: 1px solid white;
		border-radius: 8px;
		padding: 4px;
		position: relative;
		width: 50vw;
		height: 33px;
		background-color: rgba(255, 255, 255, .5);
		&::after
		{
			content: "CO2";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			color: black;
		}
		.dglCOMetter
		{
			border-radius: 8px;
			width: 100%;
			height: 100%;
			background-color: rgba(76, 101, 122, 0.7);
			transform-origin: left;
			transform: scaleX(.5);
			transition: all .3s;
			.dglCOValue
			{
				display: none;
			}
		}
	}
	.dglNextItemContainer
	{
		padding: 2px;
		border: 1px solid white;
		border-radius: 8px;
		width: 75px;
		height: 75px;
		background-color: rgba(255, 255, 255, .5);
		img
		{
			width: 100%;
			height: auto;
			max-height: 100%;
		}
	}
	.dglUiInfos
	{
		position: absolute;
		font-family: "fontFamMain";
		font-size: 1.2rem;
		transition: all 3s linear;
	}
	.dglSmsRed
	{
		color: red;
	}
	.dglSmsGreen
	{
		color: green;
	}
}
.dglGameover
{
	padding: 8px;
	border: 1px solid white;
	border-radius: 8px;
	position: fixed;
	left: 50%;
	top: 50%;
	text-align: center;
	font-size: 1.5rem;
	font-family: "fontFamTitles";
	background-color: rgba(255, 255, 255, .7);
	transform: translate(-50%, -50%);
}