@import "variables";
@media (max-width: 930px)
{
}
@media (max-width: 812px) and (orientation: portrait)
{
	.dglTutoContainer
	{
		.dglTutoBikeImg
		{
			left: 26px;
			top: 64px;
			width: 64px;
			height: 64px;
		}
	}
}
@media (max-width: 812px)
{
}
//and (max-width: 820px)
@media only screen and (max-height: 620px) and (orientation: landscape)
{
}