// !!! Delete this part when collapse to main game(1TerreAction)
// => ------------------------------------------------------
$ac-blue: #5cbced;

@font-face {
    font-family: 'fontFamTitles';
    src: url(../temp/brauerneue.otf);
}

@font-face {
    font-family: 'fontFamMain';
    src: url(../temp/minionpro_regular.otf);
}
// <= ------------------------------------------------------

$boardColor: #2c2e35;