<div id="dglTutoContainer" class="dglTutoContainer">
   	<div id="flsTutoContainer" class="flsTutoContainer flsUiContainer">
	    <h2>PARTIE BONUS</h2>
	    <h3>Course Contre le CO2</h3>
	    <div class="flsTutoContent">
	    	<div id="dglTutoBikeImg" class="dglTutoBikeImg"></div>
	    	<p>Le but est de terminer la course avec une jauge de CO2 la plus petite possible</p>
	    	<p>Durant la partie, tu rencontreras sur ta route des vaches et des ballons. Tu dois les éviter pour pouvoir arriver au bout du parcours.</p>
	    	<p>Régulièrement, des aliments apparaitront sur la route</p>
		    <p class="flsTutoControls">
	 			Prendre des aliments à haute production de CO2(venant de trop loin, étant emballés inutilement, etc.) <b>augmentera</b> la jauge. Au contraire, consommer des aliments à faible production de CO2 (de proximité, sans emballage, etc.) la fera <b>diminuer</b>.
	 			Pour éviter les obstacles, il te suffit de sauter avec la touche <b>espace</b> ou avec une simple <b>pression</b> sur l'écran tactile.
	 		</p>
		    <p>Si tu termines la partie sans que la jauge de CO2 ne soit remplie, tu gagnes des points bonus!</p>
		    <p>Les points de ce jeu bonus n'ont aucune incidence sur ton terrain ou ta planète!</p>
	    </div>
	</div>
	<button id="dglLaunchGameButton" class="buttonDefault dglLaunchGameButton">Débuter une Partie</button>
</div>